<footer class="site-footer">
    <span class="email-updates"><a href="http://eepurl.com/bFD4az">Newsletter</a></span>
    <ul class="contact-list">
        <li><a href="{{ site.baseurl }}/">Blog</a></li>
        {% for page in site.pages %}
        {% if page.title %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><em class="logo">&#8710;</em></a></li>
        <li><a href="mailto:{{ site.email }}">Email</a></li>
        <li><a href="http://www.twitter.com/{{ site.twitter_username }}">Twitter</a></li>
    </ul>

    <p class="description">{{ site.description }}</p>

</footer>
