.logo {
    color: $dark-grey;
    font-family: Times;
    font-style: normal;
    font-weight: 400;
    transition: .5s color;
    &:hover {
        color: $magenta;
        cursor: default;
    }
}

// Post Header
.post-header {
    margin-bottom: .75em;
}

.post-meta {
    color: #888;
    text-rendering: optimizeLegibility;
    margin-bottom: 0;
    font-size: .85em;
    line-height: 1.6875em;
}

.next-article {
    display: inline-block;
    margin-bottom: 1em;
    font-style: bold;
}
