.post-content {
    h1 {}
    h2 {}
    h3 {
        font-family: $sans;
        color: $dark-grey;
        margin: 0 0 1.36em 0;

    }
    blockquote {
        padding-left: 20px;
        border-left: 5px solid $blue;
        transition: .2s all;
        &:hover {
            border-left: 5px solid $magenta;
            p {color: $magenta;}
        }
        p {
            transition: .2s all;
            font-family: inherit;
            font-family: $sans;
            font-weight: 700;
            font-style: italic;
            color: $blue;
        }
    }
}
// < Paragraphs >
.post-content p {
    color: $dark-grey;

    font-family: $serif;
    font-weight: 400;
    line-height: 1.6875em;
    margin-bottom: 1.36em;
    .highlight {
        background-color: rgba($blue, 0.2);
        a {color: $blue;}
    }
    sup {
        line-height: 0;
        text-decoration: underline;
        margin: 0 1px;
    }

    a {
        text-decoration: underline;
        color: $blue;
        &:hover{color: lighten($blue, 10%)}
    }



    img {
        cursor: pointer;
    }
}

.post-content ol,.post-item ol {
        // these are things like numbered bullet points
        padding-left: 40px;
        margin-bottom: 1.36em;
        font-family: $serif;
        color: $dark-grey;
}
// </ Paragraphs >

// < footnotes >
.footnotes {

    border-top: 1px solid $light-grey;
    padding-top: 1em;

    .reversefootnote {
        text-decoration: none;
    }

    ol {
        padding-left: 40px;
        margin-bottom: 2em;
    }

    li {
        padding: .75em 1em ;
        font-family: $serif;
        p {
            margin: 0;
        }
        //.reversefootnote {display: none;}
    }

    .highlight {
        background-color: rgba($blue, 0.2);
        p {color: $blue;}
    }
}
// </ footnotes >
