// Footer
 footer {
     border-top: 1px solid $light-grey;
     text-align: center;
     li {
         display: inline-block;
         padding: .5em 0 20px;
         margin-right: 1em;
         font-family: $sans;
         font-size: .75em;

     }
     .description {
         font-family: $sans;
         font-size: .9em;
         color: $light-grey;
         font-family: $serif;
         font-size: 14px;
         transition: 1s color;
         &:hover {
             color: $magenta;
         }
     }
 }
