//reset!
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
//



// Body
html {}
body {}
.container {
    max-width: $max-width;
    margin: 0 auto;
}
//

// Nav
    nav {
        a {
            display: inline-block;
            padding: .5em 0;
            margin-right: 1em;
        }

    }
//

// Content
.page-content, header, footer {
    width: 100%;
}
//
