// < Reset >
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
// </ Reset >

// < Body >
html {}
body {}
.container {
    max-width: $max-width;
    margin: 0 auto;
    @media (max-width: $max-width) {
        padding: 0 7px;
    }

}
// </ Body >

// < Content >
.page-content, header, footer {
    width: 100%;
}

.page-content {
    margin-bottom: 20px;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;

    }
}
// </ Content >

footer  {
    padding: 20px 0;
}
