// Fonts
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Lora);
$sans: 'Noto Sans';
$serif: 'Lora';

body {
    font-size: $font-size;
}
// < Headings >
h1 {
    font-family: $sans;
    color: $dark-grey;
    a {color: $dark-grey;}
}

h2 {
    font-family: $sans;
    color: $dark-grey;
    font-size: 1.2em;
    a {color: $dark-grey;}
}
// </ Headings >


// < Links >
a {
    color: $blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: lighten($blue, 15%);
    }
}
// </ Links >
